  h3{
    background-color: antiquewhite !important;
  }
    
  h1,h3{
    color: #b92b27;
  }

  #login {
   background-color: darkslategrey;
  }
  #signup {
    background-color: #b92b27;
    color: aquamarine;
  }

  .upvote{
    background-color: green;
  }
  /* deccendant selector */
   .post a {
    color: purple;
    background-color: aquamarine;
  }
  nav ul li a{
    color: hotpink;
  }

  p + h3 {
   text-decoration: underline;
  }
  .upvote +button {
    background-color: cornflowerblue;
  }
  div > input {
    background-color: darkgray;
  }
  input[type="text"] {
    color: red;
  }
  input[type="password"] {
    color:green;
  }
  /* qs */
   /* #myId p{
    color: brown;
  }   */

  div[id="myId"] p{
    color: blueviolet;
  }
  button:hover{
    background-color: black;
    color: white;
  }
  h3:hover{
    text-decoration:overline;
  }
  button:active{
    background-color:darkmagenta;
    color: black;
  }
  p:active{
    font-weight:bold ;
    color: green;
  }

  input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
  }
  /* .post:nth-of-type(2){
    background-color: blanchedalmond;
  } */
  div:nth-of-type(1n){
    background-color: rgb(173, 157, 133);
  }
  h1::first-letter {
    color: black;
  }
  p::first-line {
    color: blue;
  }
  p::selection {
    background-color: rgb(199,192,58);
  }
  h3{
    background-color: yellow;
  }
  h3{
    background-color:bl ;
  }

  h3{
    background-color:yellow ;
  }
  h3{
    background-color: blue;
  }
    
  